.pagination ul{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding:0;
}
.pagination li {
    display: inline-block;
    padding: 7px 7px;
}
.pagination li a:visited{
    color: blue;
    text-decoration: underline;
}
.pagination li.selectedPage a{
    text-decoration: none;
    color: black;
}